@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container-fluid my-3">
    <div class="container">
        <div class="row">
            <h1>Política de Privacidad</h1>
            <p>Use this page to detail your site's privacy policy.</p>
        </div>
    </div>
</div>
