@model WebComputadoras2.Models.Producto
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid my-3">
    <div class="container">
        <div class="row">
            <h1>@Model.Descripcion</h1>

            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="product-item">
                            <a href="#"><img src=@Model.UrlImagen alt="" style="width: 25rem; height: 23rem"></a>                         <a href="/detalle">
                                <h4 class="col-md-10">Precio @Model.PrecioVenta Bs.</h4>
                            </a>
                            <h4 class="top-right">Marca: @Model.IdMarcaNavigation.Nombre</h4>
                            <div class="down-content">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
